p.tl_iso_collectionmanager_due {
	margin:0 3px 1px 6px;
	padding:2px 0 3px 20px;
	background:url("../../../system/themes/default/images/error.gif") no-repeat left center;
}
p.tl_iso_collectionmanager_due, p.tl_iso_collectionmanager_due a {
	color:#c55;
}
p.tl_iso_collectionmanager_new {
	margin:0 3px 1px 6px;
	padding:2px 0 3px 20px;
	background:url("../../../system/themes/default/images/all.gif") no-repeat left center;
}
p.tl_iso_collectionmanager_new, p.tl_iso_collectionmanager_new a {
	color:#d68c23;
}
p.tl_iso_collectionmanager_reg {
	margin:0 3px 1px 6px;
	padding:2px 0 3px 20px;
	background:url("../../../system/themes/default/images/show.gif") no-repeat 1px center;
}
p.tl_iso_collectionmanager_reg, p.tl_iso_collectionmanager_reg a {
	color:#5c9ac9;
}
p.tl_update {
	margin:0 3px 1px 6px;
	padding:2px 0 3px 20px;
	background:url("../../../system/themes/default/images/show.gif") no-repeat 1px center;
}
p.tl_update, p.tl_update a {
	color:#5c9ac9;
}

/* Course Builder Reporting */
#tl_cb_reporting {
	margin:24px 18px 18px 18px;
}
#tl_cb_reporting h1 {
	margin:18px 0 24px 0;
	padding:6px 0 8px 36px;
	background:url("../../../system/themes/default/images/current.gif") no-repeat left center;
	font-size:14px;
	color:#8ab858;
}
#tl_cb_reporting table {
	width:100%;
}
#tl_cb_reporting th {
	padding:2px 6px 3px 6px;
	border:1px solid #e9e9e9;
	border-right:0;
	background:#f6f6f6;
	text-align:left;
}
#tl_cb_reporting th.col_last {
	border-right:1px solid #e9e9e9;
}
#tl_cb_reporting td {
	padding:3px 6px 4px 6px;
	border-bottom:1px solid #e9e9e9;
}
#tl_cb_reporting .col_last {
	padding-top:2px;
	padding-bottom:0;
}
#tl_cb_reporting .even {
	background:#fcfcfc;
}
#tl_cb_reporting .due {
	color:#c55;
}
#tl_cb_reporting .completed {
	color:#8ab858;
}

#tl_cb_reporting .tl_textarea {
	width:640px;
	height:80px;
}
.tl_subpanel {
	padding-left:7px !important;
}

/* Buttons */
#tl_buttons .print_report
{
	background-image: url(printer.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 2px 0px 3px 20px;
}

#tl_buttons .tl_buttons_separator
{
	display:inline;
	padding:0px 10px;
}

p.tl_deadline {
	margin-top:3px;
}
.tl_history table {
	width:100%;
	margin-top:18px;
	margin-bottom:-18px;
}
.tl_history .odd td {
	padding:3px 4px 4px 4px;
	border-top:1px solid #ccc;
	background:#f0f0f0;
	font-size:10px;
}
.tl_history .even td {
	padding:12px 6px 14px 6px;
	border-top:1px solid #ccc;
	background:#fbfbfb;
	line-height:1.5;
}
.tl_history .odd td.created {
	background:#ffd;
	border-color:#fc0;
}
.tl_history .even td.created {
	border-color:#fc0;
}
.tl_history .odd td.forwarded {
	background:#e9f0f8;
	border-color:#5c9ac9;
}
.tl_history .even td.forwarded {
	border-color:#5c9ac9;
}
.tl_history .odd td.declined {
	background:#f8e7e7;
	border-color:#c55;
}
.tl_history .even td.declined {
	border-color:#c55;
}
.tl_history .odd td.completed {
	background:#ebfdd7;
	border-color:#8ab858;
}
.tl_history .even td.completed {
	border-color:#8ab858;
}